* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

section {
  position: absolute;
  width: 80vw;
  height: 30vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: royalblue;
  border: 10px solid black;
  border-radius: 50px;
  box-shadow: white 0 0 0 5px, black 0 0 0 15px;
  overflow: hidden;
}

h1 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translate(100%, -50%);
  text-align: center;
  color: white;
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation: text 10s ease infinite both;
}

h1:nth-child(2) {
  animation-delay: calc(10s / 3);
}

h1:nth-child(3) {
  animation-delay: calc((10s / 3) * 2);
}

@keyframes text {
  0% {
    transform: translate(100%, -50%);
  }

  3% {
    transform: translate(100%, -50%);
  }

  6% {
    transform: translate(0, -50%);
  }

  30% {
    transform: translate(0, -50%);
  }

  33% {
    transform: translate(-100%, -50%);
  }

  100% {
    transform: translate(-100%, -50%);
  }
}
