* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

button {
  position: absolute;
  bottom: 2.5%;
  left: calc(50% - 40px);
  font-size: 50px;
  width: 80px;
  height: 80px;
  border-style: none;
  border-radius: 50%;
  background-color: royalblue;
  color: white;
  overflow: hidden;
  transition: 0.3s ease;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: royalblue 0 0 15px 5px;
}

button i {
  text-shadow: white 0 -20px 0, white 0 20px 0;
  transform: translateY(-100px);
  animation: arrow 1s linear infinite both;
}

button:hover i {
  animation-duration: 0.75s;
}

@keyframes arrow {
  from {
    transform: translateY(-100px);
  }

  to {
    transform: translateY(100px);
  }
}
