* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

:root {
  --navHeight: 10vh;
  --headerHeight: 90vh;
}

html {
  text-align: center;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

nav,
header {
  position: fixed;
  width: 100%;
}

nav {
  height: var(--navHeight);
  background-color: #000;
  line-height: var(--navHeight);
  top: 0;
  left: 0;
  z-index: 1;
}

header {
  height: var(--headerHeight);
  background-color: brown;
  line-height: var(--headerHeight);
  top: 0;
  left: 0;
  margin-top: var(--navHeight);
  z-index: -1;
}

main {
  position: relative;
  margin-top: calc(var(--navHeight) + var(--headerHeight));
  line-height: 200vh;
  background-image: linear-gradient(
    120deg,
    green 0%,
    blue 33.33%,
    violet 66.66%,
    yellow 100%
  );
}
