* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.btn1 {
  position: absolute;
  top: 50%;
  left: calc((100% / 5));
  transform: translate(-50%, -50%);
  padding: 15px 25px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: none;
  background-color: #ddd;
  overflow: hidden;
  transition: 0.4s ease;
}

.btn1:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
}

span {
  position: absolute;
  width: 80%;
  height: 5px;
  background-color: #000;
  bottom: 0;
  left: -100%;
  transition: 0.5s ease;
}

.btn1:hover span {
  left: 10%;
}

.btn2 {
  position: absolute;
  top: 50%;
  left: calc((100% / 5) + 30%);
  transform: translate(-50%, -50%);
  padding: 15px 25px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: none;
  background-color: #ddd;
  overflow: hidden;
  transition: 0.5s ease;
}

.btn2:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
}

.btn2::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 5px;
  background-color: #000;
  transition: 0.75s cubic-bezier(0, 1.75, 1, 1);
}

.btn2:hover::before {
  right: 0;
}

.btn3 {
  position: absolute;
  top: 50%;
  left: calc((100% / 5) + 60%);
  transform: translate(-50%, -50%);
  padding: 15px 25px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 4px solid black;
  border-radius: 20px;
  background-color: transparent;
  color: black;
  box-shadow: 0 0 0 2px white, 0 0 0 6px black;
  overflow: hidden;
  transition: 0.5s 0.1s ease;
}

.btn3:hover {
  color: white;
  cursor: pointer;
}

.btn3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #000;
  transition: 0.5s ease;
  z-index: -1;
}

.btn3:hover::after {
  width: 100%;
}
