* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(0deg);
  border: 4px solid black;
  padding: 20px 40px;
  background-color: #fff;
  color: black;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation: shakes 5s linear infinite both;
  transition: 0.4s ease;
}

button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  animation: none;
}

@keyframes shakes {
  0% {
    transform: translate(-50%, -50%) rotateX(0deg);
  }

  90% {
    transform: translate(-50%, -50%) rotateX(0deg);
  }

  91% {
    transform: translate(calc(-50% + 20px), -50%) rotateX(-10deg);
  }

  92% {
    transform: translate(calc(-50% + -20px), -50%) rotateX(10deg);
  }

  93% {
    transform: translate(calc(-50% + 20px), -50%) rotateX(-10deg);
  }

  94% {
    transform: translate(calc(-50% + -20px), -50%) rotateX(10deg);
  }

  95% {
    transform: translate(calc(-50% + 20px), -50%) rotateX(-10deg);
  }

  96% {
    transform: translate(calc(-50% + -20px), -50%) rotateX(10deg);
  }

  97% {
    transform: translate(calc(-50% + 20px), -50%) rotateX(-10deg);
  }

  98% {
    transform: translate(calc(-50% + -20px), -50%) rotateX(10deg);
  }

  99% {
    transform: translate(calc(-50% + 20px), -50%) rotateX(-10deg);
  }

  100% {
    transform: translate(-50%, -50%) rotateX(0deg);
  }
}
