* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.picture {
  position: absolute;
  width: 80vh;
  height: 45vh;
  top: calc(50% - 45vh / 2);
  left: calc(50% - 80vh / 2);
  background-color: lightblue;
  overflow: hidden;
  z-index: -2;
}

img {
  position: absolute;
  display: none;
}

img:nth-child(1) {
  display: block;
  width: 100%;
  left: 0;
  bottom: -10%;
}

img:nth-child(2) {
  display: block;
  width: 100%;
  left: 0;
  bottom: -24%;
}

img:nth-child(3) {
  display: block;
  width: 100%;
  left: 0;
  bottom: -36%;
}

img:nth-child(4) {
  display: block;
  width: 100%;
  left: 0;
  bottom: -34%;
}

img:nth-child(5) {
  display: block;
  width: 100%;
  left: 0;
  bottom: -45%;
}

img:nth-child(6) {
  display: block;
  width: 100%;
  left: 0;
  bottom: -72%;
}

img:nth-child(7) {
  display: block;
  width: 10%;
  left: 5%;
  top: 5%;
  z-index: -1;
}

img:nth-child(8) {
  display: block;
  width: 30%;
  left: -5%;
  top: 10%;
}

img:nth-child(9) {
  display: block;
  width: 40%;
  right: 2%;
  top: 8%;
}

img:nth-child(10) {
  display: block;
  width: 35%;
  right: 0;
  top: 18%;
}

img:nth-child(11) {
  display: block;
  width: 8%;
  left: 5%;
  bottom: 8%;
}
