* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.bg {
  background-color: #ddd;
  height: 100vh;
  transition: 1s;
}

.circle {
  position: fixed;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid black;
  cursor: pointer;
  z-index: 1;
}

div.red {
  top: 20px;
  left: 20px;
  background-color: red;
  border-color: darkred;
  transition: 0.5s;
}

div.green {
  top: 20px;
  right: 20px;
  background-color: green;
  border-color: darkgreen;
  transition: 0.5s;
}

div.blue {
  bottom: 20px;
  left: 20px;
  background-color: blue;
  border-color: darkblue;
  transition: 0.5s;
}

div.orange {
  bottom: 20px;
  right: 20px;
  background-color: orange;
  border-color: darkorange;
  transition: 0.5s;
}

.bg p {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 100vh;
  width: 100%;
  text-align: center;
  font-size: 80px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0;
  color: white;
  transition: 1s;
}

div.red:hover ~ div.bg {
  background-color: red;
}

div.red:hover {
  background-color: darkred;
  border-color: black;
}

div.green:hover ~ div.bg {
  background-color: green;
}

div.green:hover {
  background-color: darkgreen;
  border-color: black;
}

div.blue:hover ~ div.bg {
  background-color: blue;
}

div.blue:hover {
  background-color: darkblue;
  border-color: black;
}

div.orange:hover ~ div.bg {
  background-color: orange;
}

div.orange:hover {
  background-color: darkorange;
  border-color: black;
}

div.red:hover ~ div.bg p.red,
div.green:hover ~ div.bg p.green,
div.blue:hover ~ div.bg p.blue,
div.orange:hover ~ div.bg p.orange {
  opacity: 1;
}
