* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 300px;
  padding: 10px 20px 50px 20px;
  border: 4px solid gray;
}

div {
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  padding: 20px;
  width: 30%;
  background-color: gray;
  font-size: 20px;
  font-weight: bold;
  text-align: justify;
  border: 4px solid black;
}
