* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  height: 200vh;
}

.rect {
  position: absolute;
  /* top: calc(100% - 5vw - 2px);
  left: calc(50% - 5vw - 2px); */
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 10vw;
  height: 10vw;
  border: 8px solid black;
  z-index: 1;
  background-color: white;
}

.line {
  border-top: 10px dashed black;
  position: absolute;
  /* top: calc(100% - 4px); */
  top: 100%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  z-index: auto;
}
